@import '../../../../styles/shared';

.wrapper {
  padding: 0 6px;
  margin-top: -10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 7px 0;

  .title {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      font-size: 0.85em;
      margin-left: 6px;
      margin-top: 1px;
      opacity: 0.3;
      cursor: pointer;
      @include transition(opacity);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .value {
    position: relative;
  }

  .impactMiddle {
    color: rgb(255, 178, 55);
  }
  .impactLarge {
    color: rgb(210, 66, 92);
  }

}